* {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: white;
}

head {
    
}

body {
    /*background-image: linear-gradient(45deg, #141414, #262626);*/
    background-color: #141414;
    background-image: url(bg.PNG);
    padding-left: 30pt;
}

h1 {
    font-weight: 900;
    float: left;
    color: #ff7600;
    text-align: left;
    font-size: 50pt;
    margin: 19pt;
    margin-left: 0pt;
}

h2 {
    color: #ff7600;
    text-align: left;
    font-size: 30pt;
    margin: 0pt;
}

p1 {
    font-weight: 300;
}

html {
    height: 100%;
}

ul { 
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    padding: 5pt;
    padding-top: 41.5pt;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBtn {
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ff7600;
    background-color: rgba(255, 118, 0, 0);
    border-radius: 50pt;
}

.navBtn:hover {
    color: white;
    background-color: rgba(255, 118, 0, 1);
}

nav {
    padding: 0pt;
    margin: 0pt;
}

.header {
    overflow: hidden;
}

a {
    color: #ff7600;
    text-decoration: none;
}
